@import 'tailwindcss';

@theme {
  --cMyPiece: #E6E6E6;
  --my-drop-shadow: 10px 10px black;
  --my-nd-drop-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  --text-micro: 0.563rem; /* 9px */
  --text-mini: 0.625rem; /* 10px */
  --text-11: 0.688rem; /* 10px */
  --text-corps: 0.813rem; /* 13px */
  --text-bouton: 0.938rem; /* 15px */
  --text-titre-alt: 1rem; /* 16px */
  --text-title: 1.188rem; /* 19px */
  --text-intro: 1.75rem; /* 28px */
  --c1: #ccffff;
  --c2: #ffe215;
  --c3: #0b4ed1;
  --c4: #7b77d4;
  --c5: #1a5435;
  --c6: #44a635;
  --c7: #1b3c75;
}

body{
  font-family: 'Inf Reg';
  line-height: 1.7;
  font-weight: normal;
  font-size: 0.813rem;
}

img{
  width: 100%;
  height: auto;
}

.btn-primary {
  @apply bg-white text-black font-extrabold uppercase py-2 px-4 w-fit border border-solid border-black shadow-[8px_8px_0_0_black];
}

.current{
   @apply underline
}

.desactivate{
  @apply opacity-25
}

/*************************** FONT ***************************/
@font-face {
  font-family: 'Inf Reg';
  src: url('/fonts/infini-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inf It';
  src: url('/fonts/infini-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inf Bold';
  src: url('/fonts/infini-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inf Picto';
  src: url('/fonts/infini-picto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.inf-reg{
  font-family: 'Inf Reg';
}

.inf-ita{
  font-family: 'Inf It';
}

.inf-bold{
  font-family: 'Inf Bold';
  font-weight: bold;
}

.inf-picto{
  font-family: 'Inf Picto';
}